@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes float-curve {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(var(--x-move-25), var(--y-move-25)) rotate(90deg) scale(1.05);
  }
  50% {
    transform: translate(var(--x-move-50), var(--y-move-50)) rotate(180deg) scale(0.95);
  }
  75% {
    transform: translate(var(--x-move-75), var(--y-move-75)) rotate(270deg) scale(1.05);
  }
  100% {
    transform: translate(var(--x-move-100), var(--y-move-100)) rotate(360deg) scale(1);
    opacity: 0;
  }
}

.animated-box {
  position: fixed;
  border: 2px solid #666;
  width: var(--size);
  height: var(--size);
  top: var(--top, auto);
  left: var(--left, auto);
  bottom: var(--bottom, auto);
  right: var(--right, auto);
  animation-name: float-curve;
  animation-duration: var(--duration, 20s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}


@keyframes playButton-animation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-15%);
  }

  45% {
    transform: translateX(0);
  }

  100% {
    transform: translateY(0);
  }
}