@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes playButton-animation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-15%);
  }

  45% {
    transform: translateX(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes boxes-top {
  0% {
    transform: scale(0) translateY(0) translateX(0) rotate(0);
    opacity: 1;
  }

  25% {
    transform: scale(0.5) translateY(50%) translateX(150%) rotate(180deg);
  }

  50% {
    transform: scale(1) translateY(100%) translateX(-150%) rotate(0deg);
  }

  75% {
    transform: scale(1.5) translateY(150%) translateX(100%) rotate(180deg);
  }

  100% {
    transform: scale(2) translateY(220%) translateX(-50%) rotate(240deg);
    opacity: 0;
  }
}

@keyframes boxes-bottom {
  0% {
    transform: scale(0) translateY(0) translateX(0) rotate(0);
    opacity: 1;
  }

  25% {
    transform: scale(0.5) translateY(-50%) translateX(-150%) rotate(180deg);
  }

  50% {
    transform: scale(1) translateY(-100%) translateX(150%) rotate(0deg);
  }

  75% {
    transform: scale(1.5) translateY(-150%) translateX(-100%) rotate(180deg);
  }

  100% {
    transform: scale(2) translateY(-220%) translateX(50%) rotate(240deg);
    opacity: 0;
  }
}

.animated-box{
    position: fixed;
    border: 2px solid #666;
  
    @for $childIdx from 1 through 11 {
      $randomSize: (random(30) + 5 + px);
      &:nth-child(#{$childIdx}) {
        width: $randomSize;
        height: $randomSize;
        top: (random(30) + 5 * 1%);
        left: (random(80) - 5 * 1%);
        animation: boxes-top (random(25) + 7) + s linear infinite;
      }
    }
    @for $childIdx from 12 through 18 {
      $randomSize: (random(30) + 5 + px);
      &:nth-child(#{$childIdx}) {
        width: $randomSize;
        height: $randomSize;
        bottom: (random(20) - 5 * 1%);
        right: (random(80) - 5 * 1%);
        animation: boxes-bottom (random(25) + 7) + s linear infinite;
      }
    }
  }