@use "variables" as vars;

.home_buttons {
  @include vars.flex(
    $direction: column,
    $align-items: center,
    $justify-content: space-between
  );
  width: 100%;
  &__btn {
    @include vars.btn($padding-vert: 18px, $padding-hor: 8px, $font-size: 1.6rem);
    width: 100%;
    &:nth-child(1) {
      padding: 24px 8px;
      border: 2px solid vars.$green-darker-color;
      color: vars.$green-darker-color;
      animation: playButton-animation 2s ease infinite 10s;
    }
  }
}
