@use "variables" as vars;

// TODO: padding, color
.home_buttons {
  @include vars.flex(
    $direction: column,
    $align-items: center,
    $justify-content: space-between
  );
  width: 100%;
  &__btn {
    @include vars.btn(18px, 8px, 1.6rem);
    width: 100%;
    text-align: center;
    &:nth-child(1) {
      padding: 24px 8px;
      border: 2px solid green;
      color: green;
      animation: playButton-animation 2s ease infinite 10s;
    }
  }
}
