@use "variables" as vars;

// TODO: padding, fz, color, margin

.main {
  width: 100dvw;
  background-size: 400% 400%;
  background-image: linear-gradient(
    60deg,
    vars.$red-color,
    vars.$yellow-color,
    vars.$blue-color
  );
  &:has(.animated-box) {
    animation: gradient 5s ease infinite;
  }
  position: relative;

  // domain
  &__box {
    width: 45dvw;
    height: 80%;
    margin: 18dvh auto 0;
    @include vars.flex(
      $direction: column,
      $align-items: center,
      $justify-content: space-between
    );
  }

  // sub-domains
  &__content_container {
    width: vars.$main-width;
    min-height: 86%;
    margin: 0 auto;
    padding: 24px 0;

    &__header {
      font-size: 2.6rem;
      padding-bottom: 20px;
    }

    &__box {
      margin-bottom: 30px;

      &__header {
        font-size: 2rem;
        margin: 16px 0;
      }
      &__content {
        font-size: 1.6rem;
        text-align: justify;
        line-height: 1.4;
      }
      &__select_container {
        width: 60%;
        
        select,
        input {
          width: 100%;
          padding: 8px 2px;
          font-size: 1.6rem;
          line-height: 1.4;
          color: #000;
          background-color: transparent;
          border: none;
          outline: none;
          border-bottom: 1px solid black;
          cursor: text;
        }
      }
    }
  }
}
