@use "variables" as vars;

.modal {
  @include vars.center-element;
  @include vars.flex($direction: column, $align-items: center, $justify-content: center);
  width: 76dvw;
  padding: 36px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  &__header {
    padding-bottom: 10px;
    font-size: 1.8rem;
    border-bottom: 1px solid black;
  }
  &__box {
    width: 60%;
    margin-top: 20px;
    &__info {
      margin-bottom: 30px;
      &__p {
        font-size: 1.4rem;
        margin: 4px 0;
      }
    }
    &__links {
      @include vars.flex($direction: column, $align-items: center, $justify-content: center);
      &__link {
        @include vars.btn(12px, 0, 1.4rem);
        width: 100%;
        margin: 6px 0;
        $color-buttons: ("1": vars.$green-color, "3": vars.$red-color, "2": vars.$yellow-color);
        @each $idx, $color in $color-buttons {
          &:nth-of-type(#{$idx}) {
            background: $color;
          }
        }
      }
    }
  }
}
