@use "variables" as vars;

.sudoku {
  width: vars.$main-width;
  margin: 0 auto;
  &__box {
    display: grid;
    grid-template-columns: repeat(9,calc(vars.$main-width / 9));
    grid-template-rows: repeat(9, calc(86dvh / 9));
    border: 1px solid vars.$grey-color;

    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.1px dotted vars.$grey-color;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
      &:nth-child(3n+1){
        border-left: 1px solid vars.$grey-color;
      }
      &:nth-child(3n){
        border-right: 2px solid vars.$grey-color;
    }
      &:nth-child(n + 19):nth-child(-n + 27),
      &:nth-child(n + 46):nth-child(-n + 54) {
        border-bottom: 2px solid vars.$grey-color;
    }}
  }
}


.winner_modal {
  @include vars.center-element();
  position: fixed;
  z-index: 10;
  background-color: vars.$green-color;
  border-radius: 40px;
  width: 80dvw;
  max-width: 500px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}