@use "variables" as vars;

.sudoku {
  width: vars.$main-width;
  margin: 0 auto;
  &__box {
    display: grid;
    grid-template-columns: repeat(9,calc(vars.$main-width / 9));
    grid-template-rows: repeat(9, calc(86dvh / 9));
    border: 1px solid black;

    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.1px dotted vars.$grey-color;
      font-size: 2.1rem;
      &:focus {
        background-color: rgba(51, 51, 51, 0.34);
        outline: none;
      }
      &:nth-child(3n+1){
        border-left: 1px solid black;
      }
      &:nth-child(3n){
        border-right: 1px solid black;
    }
      &:nth-child(n + 19):nth-child(-n + 27),
      &:nth-child(n + 46):nth-child(-n + 54) {
        border-bottom: 2px solid black;
    }}
  }
}


.winner_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(161, 241, 42, 0.927);
  border-radius: 40px;
  width: 80dvw;
  max-width: 500px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}