@use "variables" as vars;

.timer {
  @include vars.flex(
    $direction: column,
    $align-items: flex-end,
    $justify-content: flex-end
  );
  flex-basis: 90%;
  margin-bottom: 4px;

  &__time {
    span {
      font-size: 2.3rem;
      margin: 0 4px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__buttons {
    &__button {
      @include vars.btn($padding-vert: 6px, $padding-hor: 8px, $font-size: 1.1rem);
      margin: 0 4px;
      transition: background-color 0.4s ease;
      &:last-child{
        margin-right: 0;
      }
      &:active {
        animation: flash 0.4s forwards;
      }
    }
  }
}
@keyframes flash {
  10% {
    background-color: vars.$green-darker-color;
  }
}