// font styles
$font-family: "Grandstander", cursive;
$default-font-size: 10px;
// colors
$green-color: rgb(142, 255, 142);
$green-darker-color: rgb(10, 173, 10);
$red-color: rgb(255, 133, 133);
$yellow-color: rgb(255, 255, 134);
$blue-color: rgb(102, 218, 253);
$grey-color: #333;
// sizes
$main-width: 94dvw;

@mixin center-element {
  position: absolute;
  top: 48%; // slight shift
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex($direction: row, $align-items: flex-start, $justify-content: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin btn($padding-vert, $padding-hor, $font-size) {
  margin: 8px 0;
  padding: $padding-vert $padding-hor;
  border: 1px solid $grey-color;
  border-radius: 40px;
  background-color: transparent;
  font-weight: 900;
  font-size: $font-size;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
