.main {
  background-size: 400% 400%;
  background-image: linear-gradient(60deg, rgb(255, 133, 133), rgb(255, 255, 134), rgb(102, 218, 253));
  position: relative;
}
.main:has(.animated-box) {
  animation: gradient 5s ease infinite;
}
.main__box {
  width: 45dvw;
  height: 80%;
  margin: 18dvh auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__content_container {
  width: 94dvw;
  min-height: 86%;
  margin: 0 auto;
  padding: 24px 0;
}
.main__content_container__header {
  font-size: 2.6rem;
  padding-bottom: 20px;
}
.main__content_container__box {
  margin-bottom: 30px;
}
.main__content_container__box__header {
  font-size: 2rem;
  margin: 16px 0;
}
.main__content_container__box__content {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.4;
}
.main__content_container__box__select_container {
  width: 60%;
}
.main__content_container__box__select_container select,
.main__content_container__box__select_container input {
  width: 100%;
  padding: 8px 2px;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  cursor: text;
}

.home_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.home_buttons__btn {
  margin: 8px 0;
  padding: 18px 8px;
  border: 1px solid #333;
  border-radius: 40px;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.home_buttons__btn:nth-child(1) {
  padding: 24px 8px;
  border: 2px solid rgb(10, 173, 10);
  color: rgb(10, 173, 10);
  animation: playButton-animation 2s ease infinite 10s;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94dvw;
  height: 10dvh;
  margin: 0 auto;
}
.header__logo {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  color: #333;
  user-select: none;
  font-size: 3rem;
}
.header__logo--home_page {
  font-size: 4rem;
}
.header__logo--span {
  display: block;
  font-size: 2rem;
  text-transform: lowercase;
  font-weight: 400;
  text-align: left;
}
.header__logo--span--home_page {
  font-size: 3rem;
  text-align: center;
}

.header_game {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
  width: 94dvw;
  margin: 0 auto;
}
.header_game .header {
  margin: auto;
  width: auto;
}

.footer * {
  font-size: 1.6rem;
}
.footer__p {
  text-align: center;
}
.footer__span:nth-child(1) {
  color: rgb(10, 173, 10);
}

.modal {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76dvw;
  padding: 36px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}
.modal__header {
  padding-bottom: 10px;
  font-size: 1.8rem;
  border-bottom: 1px solid #333;
}
.modal__box {
  width: 60%;
  margin-top: 20px;
}
.modal__box__info {
  margin-bottom: 30px;
}
.modal__box__info__p {
  font-size: 1.4rem;
  margin: 4px 0;
}
.modal__box__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__box__links__link {
  margin: 8px 0;
  padding: 12px 0;
  border: 1px solid #333;
  border-radius: 40px;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin: 6px 0;
}
.modal__box__links__link:nth-of-type(1) {
  background: rgb(142, 255, 142);
}
.modal__box__links__link:nth-of-type(3) {
  background: rgb(255, 133, 133);
}
.modal__box__links__link:nth-of-type(2) {
  background: rgb(255, 255, 134);
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-basis: 90%;
  margin-bottom: 4px;
}
.timer__time span {
  font-size: 2.3rem;
  margin: 0 4px;
}
.timer__time span:last-child {
  margin-right: 0;
}
.timer__buttons__button {
  margin: 8px 0;
  padding: 6px 8px;
  border: 1px solid #333;
  border-radius: 40px;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin: 0 4px;
  transition: background-color 0.4s ease;
}
.timer__buttons__button:last-child {
  margin-right: 0;
}
.timer__buttons__button:active {
  animation: flash 0.4s forwards;
}

@keyframes flash {
  10% {
    background-color: rgb(10, 173, 10);
  }
}
.sudoku {
  width: 94dvw;
  margin: 0 auto;
}
.sudoku__box {
  display: grid;
  grid-template-columns: repeat(9, 10.4444444444dvw);
  grid-template-rows: repeat(9, 9.5555555556dvh);
  border: 1px solid #333;
}
.sudoku__box__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px dotted #333;
  font-size: 2rem;
}
.sudoku__box__cell:focus {
  outline: none;
}
.sudoku__box__cell:nth-child(3n+1) {
  border-left: 1px solid #333;
}
.sudoku__box__cell:nth-child(3n) {
  border-right: 2px solid #333;
}
.sudoku__box__cell:nth-child(n+19):nth-child(-n+27), .sudoku__box__cell:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 2px solid #333;
}

.winner_modal {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 10;
  background-color: rgb(142, 255, 142);
  border-radius: 40px;
  width: 80dvw;
  max-width: 500px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes float-curve {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(var(--x-move-25), var(--y-move-25)) rotate(90deg) scale(1.05);
  }
  50% {
    transform: translate(var(--x-move-50), var(--y-move-50)) rotate(180deg) scale(0.95);
  }
  75% {
    transform: translate(var(--x-move-75), var(--y-move-75)) rotate(270deg) scale(1.05);
  }
  100% {
    transform: translate(var(--x-move-100), var(--y-move-100)) rotate(360deg) scale(1);
    opacity: 0;
  }
}
.animated-box {
  position: fixed;
  border: 2px solid #666;
  width: var(--size);
  height: var(--size);
  top: var(--top, auto);
  left: var(--left, auto);
  bottom: var(--bottom, auto);
  right: var(--right, auto);
  animation-name: float-curve;
  animation-duration: var(--duration, 20s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}

@keyframes playButton-animation {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15%);
  }
  45% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(0);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Grandstander", cursive;
}

.reset_link {
  text-decoration: none;
  color: #333;
}

table {
  width: 100%;
}
table th,
table td {
  padding: 8px;
  border: 1px solid #333;
  text-align: center;
  font-size: 1.2rem;
}
table th {
  background-color: rgb(10, 173, 10);
}

.button {
  margin: 8px 0;
  padding: 8px 6px;
  border: 1px solid #333;
  border-radius: 40px;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
