@use "variables" as vars;
@use "main";
@use "home_buttons";
@use "header";
@use "footer";
@use "modal";
@use "timer";
@use "sudoku";
@use "animations";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Grandstander", cursive;
}

.reset_link {
  text-decoration: none;
  color: vars.$grey-color;
}

table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: 8px;
    border: 1px solid #0e3107;
    text-align: center;
    font-size: 1.2rem;
  }

  th {
    background-color: #21a428;
  }
}

.button {
  @include vars.btn($padding-vert: 8px, $padding-hor: 6px, $font-size: 1.4rem);
}
