* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Grandstander", cursive;
}

$green-color: rgb(142, 255, 142);
$red-color: rgb(255, 133, 133);
$yellow-color: rgb(255, 255, 134);
$blue-color: rgb(102, 218, 253);
$grey-color: #333;

@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin btn($paddingVert, $paddingHor, $fz) {
  margin: 8px 0;
  padding: $paddingVert $paddingHor;
  border: 1px solid $grey-color;
  border-radius: 40px;
  background-color: transparent;
  font-weight: 900;
  font-size: $fz;
  text-transform: uppercase;
  text-align: center;
}

.reset_link {
  text-decoration: none;
  color: $grey-color;
}

.button_disabled{
  border-color: #888;
  color: #888;

}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  background-size: 400% 400%;
  background-image: linear-gradient(
    150deg,
    $red-color,
    $yellow-color,
    $blue-color
  );
  animation: gradient 5s ease infinite;
  overflow: hidden;

  &__box {
    @include centerElement;
    @include flexCol;
    right: 50%;
    justify-content: space-between;
    width: 45dvw;
    height: 70dvh;

    &--not_main {
      width: 92dvw;
      height: 60dvh;
    }

    &__header {
      &--not_main {
        position: absolute;
        top: -30%;
        left: 0;
      }

      &__h1 {
        font-size: 4rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1;
        color: $grey-color;
        user-select: none;

        &--not_main {
          text-align: left;
          font-size: 3rem;
        }
      }

      &__span {
        display: block;
        font-size: 3rem;
        text-align: center;
        text-transform: lowercase;
        font-weight: 400;
        color: $grey-color;

        &--not_main {
          text-align: left;
          font-size: 2rem;
        }
      }
    }

    &__btns {
      @include flexCol;

      &__btn {
        @include btn(18px, 8px, 1.6rem);

        &:nth-child(1) {
          padding: 24px 8px;
          border-color: green;
          border-width: 2px;
          color: green;
          animation: playButton-animation 2s ease infinite 10s;
        }
      }
    }

    &__modal {
      @include flexCol;
      align-items: center;
      padding: 36px 10px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 40px;

      &__header {
        padding: 0 0 10px 0;
        font-size: 1.8rem;
        border-bottom: 1px solid black;

      &__box {
        margin: 20px 0;
        &__p {
          font-size: 1.4rem;
        }
      }
    }

      &__choice_btn {
        @include btn(12px, 0, 1.4rem);
        width: 64%;
        font-weight: 600;
        $color_buttons: ("1": $green-color, "3": $red-color, "2": $yellow-color);
        @each $idx, $color in $color_buttons {
          &:nth-of-type(#{$idx}) {
            background: $color;
          }
        }
      }
    }

    &__article {
      margin: -80px 0;
      padding: 40px 0;

      &__header {
        font-size: 2.6rem;
        padding: 20px 0;
      }

      &__box {

        &__header {
          font-size: 2rem;
          margin: 20px 0;
        }

        &__content {
          font-size: 1.6rem;
          text-align: justify;
          line-height: 1.2;
        }

        &__select_container {
          & select, & input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid black;
            cursor: inherit;
            line-height: inherit;
            width: 60%;
            padding: 8px 2px;
            font-size: 1.6rem;
            color: #000;
          }
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: -18%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      text-align: center;

      &--not_main {
        bottom: -30%;
      }

      &__p {
        font-size: 1.6rem;
      }

      &__span {
        font-size: 1.6rem;

        & a {
          text-decoration: none;
          font-size: 1em;
        }

        &:nth-child(1) {
          color: yellowgreen;
        }

        &:nth-child(2) {
          color: violet;
        }
      }
    }
  }
}

.sudoku_main_page {
  width: 94dvw;
  height: 100dvh;
  margin: 10px auto;
  @include flexCol;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
   
    &__title {
      &__h1 {
        font-size: 3rem;
        text-align: left;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1;
        color: $grey-color;
        user-select: none;
      }

      &__span {
        display: block;
        text-align: left;
        font-size: 2rem;
        text-transform: lowercase;
        font-weight: 400;
        color: $grey-color;

      }
    }

    &__timer {
      @include flexCol;
      flex-basis: 70%;
      align-items: center;
      &__p {
        width: 100%;
        text-align: center;
        & span {
          font-size: 2.8rem;
          padding: 2%;
        }
      }
      &__btns {
        flex-wrap: nowrap;
        &__btn {
          @include btn(6px, 8px, 1.1rem);
          margin-left: 1px;
          margin-right: 1px;
        }
      }

    }
  }

  &__game {
    background-color: rgba(65, 56, 56, 0.152);
  }
}

.sudoku {
  @include flexCol;
  align-items: center;
  
  &__box {
    display: grid;
    grid-template-columns: repeat(
      9,
      calc(94dvw / 9)
    );
    grid-template-rows: repeat(9, calc(86dvh / 9));
    border: 1px solid black;
    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px dotted $grey-color;
      font-size: 2rem;
      &:focus {
        // outline-color: rgb(124, 123, 30);
        background-color: #33333357;
      }
      &:nth-child(3n+1){
        border-left: 1px solid black;
      }
      &:nth-child(3n){
        border-right: 1px solid black;
    }
      &:nth-child(n + 19):nth-child(-n + 27),
      &:nth-child(n + 46):nth-child(-n + 54) {
        border-bottom: 2px solid black;
    }}
  }
}

.box-animated{
  position: fixed;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: 3px solid #666;

  @for $childIdx from 1 through 7 {
    &:nth-child(#{$childIdx}) {
      top: (random(30) + 5 * 1%);
      left: (random(80) - 5 * 1%);
      animation: boxes-top (random(25) + 7) + s linear infinite;
    }
  }
  @for $childIdx from 8 through 12 {
    &:nth-child(#{$childIdx}) {
      bottom: (random(20) - 5 * 1%);
      right: (random(80) - 5 * 1%);
      animation: boxes-bottom (random(25) + 7) + s linear infinite;
    }
  }
}

.winner_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(161, 241, 42, 0.927);
  border-radius: 40px;
  width: 80dvw;
  
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #0e3107;
  text-align: center;
  font-size: 1.2rem;
}

th {
  background-color: #21a428;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes playButton-animation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-15%);
  }

  45% {
    transform: translateX(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes boxes-top{
  0%{
      transform: scale(0) translateY(0) translateX(0) rotate(0) ;
      opacity: 1;
  }

  25%{
      transform: scale(0.5) translateY(50%) translateX(150%) rotate(180deg);
  }

  50%{
      transform: scale(1) translateY(100%) translateX(-150%) rotate(0deg);
  }

  75%{
      transform: scale(1.5) translateY(150%) translateX(100%) rotate(180deg);
  }

  100%{
      transform: scale(2) translateY(220%) translateX(-50%) rotate(240deg) ;
      opacity: 0;
  }


}

@keyframes boxes-bottom{
  0%{
      transform: scale(0) translateY(0) translateX(0) rotate(0) ;
      opacity: 1;
  }

  25%{
      transform: scale(0.5) translateY(-50%) translateX(-150%) rotate(180deg);
  }

  50%{
      transform: scale(1) translateY(-100%) translateX(150%) rotate(0deg);
  }

  75%{
      transform: scale(1.5) translateY(-150%) translateX(-100%) rotate(180deg);
  }

  100%{
      transform: scale(2) translateY(-220%) translateX(50%) rotate(240deg) ;
      opacity: 0;
  }


}
/*# sourceMappingURL=style.css.map */
